@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

html {
  min-width: 1040px;
}

body {
  background: #fcfcfa;
  color: #333;
  font-family: "PT Serif", serif;
  margin: 1em auto 4em auto;
  position: relative;
  width: 960px;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 4em;
  font-weight: 300;
  letter-spacing: -.05em;
  margin: .3em 0 .1em 0;
}

h2 {
  margin-top: 2em;
  color: steelblue;
}

h3 {
  margin-top: 1.5em;
  color: steelblue;
}

p {
  line-height: 1.5em;
}

body > p {
  width: 840px;
}

body > blockquote {
  width: 680px;
  margin-top: 2em;
  margin-bottom: 2em;
}

q:before, q:after {
  content: "";
}

q {
  line-height: 1.5em;
  display: inline;
  font-style: oblique;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

.chart {
  width: 680px;
  height: 400px;
  margin-top: 3em;
  margin-bottom: 2em;
}
